.content {
    font-size: 1.2rem;
    text-align: center;
}

.content > div {
    margin-bottom: 30px;
}

.login-form {
    width: 100%;
}

.login-form img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.login-form img:hover {
    transform: scale(1.1);
}

.social-acs {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 10rem;
}